/* CSS styles for the entire page */
body
{
font-family
:
'
Segoe UI
'
,
Tahoma
, Geneva,
Verdana
,
sans-serif
;
/* Change
the font stack to your desired font */

background-image
:
url
(
'
background_image.jpg
'
);
/* Replace
'background_image.jpg' with the path to your image */
background-size
:
cover
;
background-repeat
:
no-repeat
;
color
:
#333
;
/* Text color */
}
/* CSS styles for the form */
form
{
background-image
:
url
(
'
form_background_image.jpg
'
);
/* Replace
'form_background_image.jpg' with the path to your form background image */
background-size
:
cover
;
background-repeat
:
no-repeat
;
padding
:
20px
;
/* Add padding to the form for better visibility */
}
/* Additional styles for form elements */
input
[
type
=
"
text
"
],
input
[
type
=
"
password
"
],
input
[
type
=
"
date
"
] {
width
:
100%
;
padding
:
8px
;
margin
:
5px
0
;
box-sizing
:
border-box
;
font-size
:
16px
;
/* Increase font size for better readability */
}
input
[
type
=
"
submit
"
],
input
[
type
=
"
reset
"
] {
background-color
:
#3498db
;
/* Change the color to your desired color */
color
:
white
;
padding
:
10px
;
margin
:
10px
0
;
border
:
none
;
border-radius
:
5px
;
cursor
:
pointer
;
}
input
[
type
=
"
submit
"
]
:hover
,
input
[
type
=
"
reset
"
]
:hover
{
background-color
:
#2980b9
;
/* Darker color on hover */
}